.main-header {
<<<<<<< HEAD
    text-align: center;
    background: #611616;
    color: #fff;
    font-family: sans-serif;
    outline:black solid 2px;
  }
  
  main {
    display: flex;
  }
  
  #dataControls {    
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;          
    width: 200px;
  }
/* 
  #search-form {
      
  }
   */
  #datetimepicker1 {
    margin: 10px;
    width: 250px;
  }
  
  #statename {
    margin: 10px;
    width: 250px;
  }

  #cityname {
    margin: 10px;
    width: 250px;
  }

  #btnSearch{
    margin: 10px;
    width: 250px;
  }
  hr {
    width: 250px; 
    border: 1px solid #00446a; 
    border-radius: 5px;
    text-align:  left;
  }
  
  #btnVac {
    margin: 10px;
    width: 250px; 
  }

  #btnTreat {
    margin: 10px;
    width: 250px;
  }

  #covidData {
        flex: 80%;
        background-color: #fff;
        border-style: solid;
        padding: 20px;    
        border: 10px solid #611616;
        margin: 20px;
        outline: #050705 solid 2px;
  }

  #treatments {
    flex: 80%;
    background-color: #fff;
    border: black;
    border-style: solid  ;
    padding: 20px;
    
}
  #vaccines {
    flex: 80%;
    background-color: #fff;
    border-style: solid;
    padding: 20px;
    border: 10px solid #611616;
    margin: 20px;
    outline: #0f130f solid 2px;
  }

  #vaccineAside  {    
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;          
    width: 200px;
  }

  #treatmentAside  {    
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;          
    width: 200px;
  }
#firstmenu {
    Border: 5px solid #611616;
}
textarea{
    Border: 5px solid #611616;
}
#datetimepicker1{
    Border: 5px solid #611616;
}
=======
  text-align: center;
  background: #611616;
  color: #fff;
  font-family: sans-serif;
}

main {
  display: flex;
}

#dataControls {    
  flex: 20%;
  padding: 20px;
  flex-wrap: wrap;          
  width: 200px;
}

#hidden {
  display: none;
}
/* 
#search-form {
    
}
 */
#datetimepicker1 {
  margin: 10px;
  width: 250px;
}

#statename {
  margin: 10px;
  width: 250px;
}

#cityname {
  margin: 10px;
  width: 250px;
}

#btnSearch{
  margin: 10px;
  width: 250px;
}
hr {
  width: 250px; 
  border: 1px solid #00446a; 
  border-radius: 5px;
  text-align:  left;
}

#btnVac {
  margin: 10px;
  width: 250px; 
}

#btnTreat {
  margin: 10px;
  width: 250px;
}

#covidData {
      flex: 80%;
      background-color: #fff;
      border: black;
      border-style: solid;
      padding: 20px;    
}

#treatments {
  flex: 80%;
  background-color: #fff;
  border: black;
  border-style: solid;
  padding: 20px;
}
#vaccines {
  flex: 80%;
  background-color: #fff;
  border: black;
  border-style: solid;
  padding: 20px;
}

#vaccineAside  {    
  flex: 20%;
  padding: 20px;
  flex-wrap: wrap;          
  width: 200px;
}

#treatmentAside  {    
  flex: 20%;
  padding: 20px;
  flex-wrap: wrap;          
  width: 200px;
}
>>>>>>> b2bbb6cefe102a0e6410e30dc4318339334a4eb0
